{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span> Info</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>+91 6202873811 </h2>
                    <h2>+91 7549720974 </h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/email.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>n.nidhikumari034@gmail.com </h2>
                    <h2>kumarinidhi02@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon"><img src="https://img.icons8.com/offices/30/000000/address.png" /></div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>vill-baurhar ,post-office-jiroul</h2>
                    <h2>dist-madhubani(bihar)</h2>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}